@import "tailwindcss";
@import "tailwindcss-primeui";

@custom-variant dark (&:is(.dark *));


.fade-scale-enter-active {
  transition: all 0.4s ease-out;
}
.fade-scale-enter-from {
  opacity: 0;
  transform: scale(0.95);
}
